.header{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.header h1{
  margin-left: 100px;
}

.header li{
  list-style: none;
  margin: 5px;
  padding: 10px;
  
}

.header img,.res_logo{
  height: 250px;
  width: 250px;
}

.header ul{
  display: flex;
  font-size: 22px;
}


.btn{ 
  /* display: inline; */
  height: fit-content;
  padding: 15px;
  margin-inline:20px;
  border-radius: 50px;
  color: white;
  background-color: green;
  border: 2px solid black;
}

.app{
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  gap:20px;
  justify-content: center;
  
}



.cards{
  width: 300px;
  height: fit-content;
  border: 1px solid gray;
  text-align: center;
  
}


.cards:hover{
  border: 1px solid black;
}

.input{
  /* margin-top: 20px; */
  margin-left: 20px;
  margin-bottom: 30px;
  width: 230px;
  
}

.rate{
  margin-left: 30px;
}

.shimmer{
  border:1px solid gray;
  width:300px;
  height: 300px;
  margin: 5px;
}

.shim-card{
  display: flex;
  flex-wrap: wrap;
}

.menucard{
  text-align:center;
  width: 900px;
  padding: auto;
  margin: auto;

}

.category-header{
  display: flex;
  justify-content: space-between;
  
}

.category{
  border-bottom: 1px solid black;
}

.category-body{
  text-align: left;
}

.res-card{
  display: flex;
  justify-content: space-between;
}

.res-img{
  width:160px;
  
}

.res-btn{
  color:green;
  padding:5px;
  margin-inline:40px;
  width:100px;
  position: relative;
  bottom: 15px
}

.rating{
  background-color:green;
  color:white;
  padding:3px;
  margin: 2px;
  border-radius: 15px
}

.res-info{
  border:1px solid gray;
  padding:20px;
  border-radius:20px
}